@media All and (max-width: 600px) {
  p {
    font-size: 11px !important;
  }
  h1 {
    font-size: 24px !important;
  }
  h3 {
    font-size: 14px !important;
  }
  h5 {
    font-size: 13px !important;
  }
  .maincontent .left-container h5 {
    font-size: 14px;
  }
  .maincontent .left-container h1 {
    font-size: 32px;
  }

  .navbar .logo img {
    height: 50px;
  }
  .maincontent {
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin: 4rem 0;
  }

  .client {
    height: 100% !important;
  }

  .vision-lists {
    grid-template-columns: 1fr;
  }
  .maincontent .left-container .search {
    gap: 20px;
  }
  .maincontent .left-container .search button {
    flex: none;
  }

  .service-body .right-container .ServiceCard {
    height: 160px;
  }

  .vision-body .right-container .vision-lists .visionlist svg {
    height: 30px;
  }

  .vision-body .right-container .vision-lists .visionlist h5 {
    text-align: center;
  }
  .vision-body .right-container .vision-lists .visionlist {
    gap: 10px;
  }
  .slick-slide img {
    height: 30px;
  }
  .client-body .right-container .btn {
    width: 50%;
  }
  .upperFooter li {
    font-size: 11px;
  }
  .upperFooter {
    grid-template-columns: 1fr;
  }
}
@media All and (max-width: 1024px) {
  .navlinks {
    display: none;
  }
  .container {
    width: 100vw !important;
    height: 100% !important;
  }
  .about-detail {
    display: flex;
    flex-direction: column;
  }
  .App > div {
    height: 100% !important;
  }
  .maincontent > div:nth-child(2) {
    display: none;
  }
  .service-body {
    display: flex;
    flex-direction: column;
  }
  .vision-body {
    display: flex;
    flex-direction: column;
  }
  .client-body {
    display: flex;
    flex-direction: column;
  }
  .feeback-body {
    display: flex;
    flex-direction: column;
  }
  .vision-body .right-container .vision-lists .visionlist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service-body .left-container .service-tab ul {
    display: flex;
    flex-direction: column;
  }
  .service-body .right-container .services {
    display: flex;
    flex-direction: column;
  }
  .whyus-body {
    display: flex;
    flex-direction: column;
  }
  .client-body > div {
    margin-top: 0;
  }

  .upperFooter > div {
    margin-bottom: 30px;
  }
  .upperFooter h3 {
    margin-bottom: 10px;
  }
  .bottomFooter {
    padding: 4%;
  }
  .upperFooter {
    grid-template-columns: 1fr 1fr;
  }
  .service-body .right-container .services > div:nth-child(2) {
    margin: 0;
  }
}
